html {
    background-color: #020659;
}
body {
    width: 375px;
    margin: 0 auto;
    background-color: #ffffff;
}
header {
    margin-top: 59px;
    padding-bottom: 20px;
    background: rgb(33,4,217);
    background: linear-gradient(90deg, rgba(33,4,217,1) 0%, rgba(2,6,89,1) 33%, rgba(2,6,89,1) 66%, rgba(0,0,0,1) 100%);
}
nav {
    width: 375px;
    background-color: #030A8C;
    position: absolute;
    top: 0;
    z-index:1;
    text-transform: uppercase;
}
nav ul {
    text-align: center;
}
nav h2 {
    visibility: hidden;
    height: 1px;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #ffffff;
    max-height: 0;
    transition: max-height .2s ease-out;
}
li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: #ffffff;
}
[href="#home"] {
    text-transform: capitalize;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 90px;
    padding: 16px 16px;
}
a:hover, input:hover {
    background-color: #590242;
}
label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
label span {
    background-color: green;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}