html {
    background-color: rgba(122, 191, 191, .5);
    margin-left:10%;
    margin-right: 10%;
}
body {
    width: 100%;
    margin: 0;
    background-color: #f2f2f2;
}
header {
    margin-top: 59px;
    padding-bottom: 20px;
    background: rgb(195, 88, 106);
}
nav {
    width: 375px;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    z-index:1;
    text-transform: uppercase;
}
nav ul {
    text-align: center;
}
nav h2 {
    visibility: hidden;
    height: 1px;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color:orange;
    max-height: 0;
    transition: max-height .2s ease-out;
}
li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color:green;
}
[href="#home"] {
    text-transform: capitalize;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 0px;
    padding: 16px 16px;
}
[href="#logo"] {
    text-transform: capitalize;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 25%;
    padding: 16px 32px;
}
[href="#avatar"] {
    text-transform: capitalize;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0px;
    padding: 16px 16px;
}
a:hover {
    background-color: #590242;
}
input:hover {
    background-color: yellow;
}
label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    z-index: 2;
}
label span {
    background-color: transparent;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: transparent;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}
figure{
    width:100%;
    align-content: center;
}